@import url('http://fonts.googleapis.com/css?family=Oxygen+Mono');
@import url('https://fonts.googleapis.com/css?family=Damion|Neucha|Pacifico|Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nunito&family=Overlock&family=Source+Sans+Pro&display=swap');

body{
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Nunito', 'Source Sans Pro', sans-serif;
    background-color: #ececec;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Overlock', 'Crimson Text', cursive, serif;
    color: #1b9bff;
    font-weight: 550;
}


/* BANNER */
.banner img{
    width: 100%;
    height: auto;
}