@import url('http://fonts.googleapis.com/css?family=Oxygen+Mono');
@import url('https://fonts.googleapis.com/css?family=Damion|Neucha|Pacifico|Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Nunito&family=Overlock&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

body{
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.125em;
  
    font-family: 'Nunito', 'Source Sans Pro', sans-serif;
    background-color: #ececec;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Overlock', 'Crimson Text', cursive, serif;
    color: #1b9bff;
    font-weight: 550;
    line-height: 1.125em;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 16px;
}

/*======CONTAINER/CONTAINRE-FLUID======*/
.container-fluid{
    max-width: 100%;
    width: auto;
    height: auto;
    align-content: center;
    background-color: #e4e4e4;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media all and (min-width: 1300px){
    .container-fluid{
      max-width: 85%;
    }
}

/*================BANNER=================== */
.banner img{
    width: 100%;
    height: auto;
}

/*=================NAVBAR===================*/
.navbar{
    background-color: rgb(53,53,53);
    font-size: 18px;
    font-weight: 600;
    max-height: 50px;
}

.navbar-brand{
    font-size: 24px;
    font-family: 'Love Ya Like A Sister','Overlock';
    font-weight: 800;

}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(27,155,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler, .navbar-toggler {
    border-color: rgb(27, 155, 255);
    border-width: 2px;
} 

.active{
    background-color: #FAFAFA;
    border-radius: 3px;
}
.navbar-nav .nav-item{
    border-right: 2px solid #888;
}


/*REGISTER/LOGIN FORM*/

.my-form .hint{
    font-size: 10px;
}


/* IMAGE PREVIEW*/
.form-div {
    margin-top: 100px;
    border: 1px solid #e0e0e0; 
}
#imageDisplay { 
    display: block; 
    height: 210px; 
    width: auto; 
    margin: 0px auto; 
    border-radius: 50%; 
}
.img-placeholder {
  width: 60%;
  color: white;
  height: 100%;
  background: black;
  opacity: .7;
  height: 210px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}


/*===========HOVBOX=============*/
@import url('http://fonts.googleapis.com/css?family=Oxygen+Mono');
@import url('https://fonts.googleapis.com/css?family=Damion|Neucha|Pacifico|Yellowtail&display=swap');

* {
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Josefin Slab', Helvetica, Palatino, Verdana, sans-serif;
    background-color: #efefef;
}

a{
    color: #1b9bff;
    font-family: "Open Sans", Helvetica, sans-serif;

}

h1, h2, h3, h4, h5, h6{
    color: #1b9bff;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    /*font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;*/
}

h1{
    font-size: 30px;
}

h2{
    font-size: 75px;
}

h3{
    font-size: 22px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 10px;
}

/* ========= HEADER ======== */

/*Banner*/
header .banner{
    max-width: 100%;
    max-height: 250px;
    min-height: 50px;
    height: auto;
    position: relative;
    top: 0px;
    margin: 0 auto;
    /*background-image: url(../img/animals-2222007_1920.jpg);*/
}

header .banner img{
    max-width: 100%;
    width: 100%;
    max-height: 250px;
    min-height: 50px;
    height: auto;
    position: relative;
    top: 0px;
    margin: 0 auto;
}

/* hide banner */
@media all and (max-width: 800px){
    .banner{
       display: none;
    }
}

/* NAVBAR */

.navbar {
  background-color: #353535;
  color: #0091ff;
  font-weight: 600;
}

.active {
  background-color: #aaa;
}

.navbar button {
  background-color: #eee;
}

.navbar button i {
  margin: auto;
}

/* to override the existing css for "a" tag */
.navbar .active a {
  color: #fff;
}

#navbarToggler ul li {
  border-right: 1px solid #eee;
}

#navbarToggler ul li:last-child {
  border-right: none;
}

/* shoping cart icon */
.link-icons {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-end;
	align-items: center;
  position: relative;
  max-width: 50px;
}
.link-icons a {
	text-decoration: none;
	color: #63748e;
	padding: 0 10px;
}
.link-icons a:hover {
	color: #8e97a5;
}
.link-icons a i {
	font-size: 18px;
}
.link-icons a span {
	display: inline-block;
	text-align: center;
	background-color: #63748e;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-weight: bold;
	position: absolute;
	top: 22px;
	right: 0;
}

/* search bar */
.collapse .search-area {
  max-width: 350px;
  font-size: 24px;
}

.collapese .search-area input[type="text"] {
  border: 2px solid #aaa;
  border-radius: 5px;
  max-width: 275px;
}

.collapse .search-area .btn{
  width: 75px;
  background-color: #009900;
  font-weight: 600;
  color: white;
}
.collapse .search-area .btn:hover{
  background-color: #1b9bff;
  font-weight: 600;
  color: white;
  font-size: 18px;
}

/* dropdown menu*/

.dropdown .dropdown-menu {
  background-color: #535353;
}

.dropdown .dropdown-menu .dropdown-item {
  color: #fff;
  font-weight: 550;
  border-bottom: 1px solid #eee;
  height: 33px;
}

.dropdown .dropdown-menu .dropdown-item:last-child{
  border-bottom: none;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #999;
  color: white;
}


/* submenu dropdown */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0%;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    background-color: #ffffff;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #1b9bff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* CONTAINTER */
.container-fluid{
    max-width: 100%;
    width: auto;
    height: auto;
    align-content: center;
    background-color: #e4e4e4;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media all and (min-width: 1300px){
    .container-fluid{
      max-width: 85%;
    }
}

.container{
  width: 100%;
}

.col-btn{
  position: absolute;
  bottom: 0px;
}


/*FOOTER*/

footer {
    background: #535355;
    background: -webkit-linear-gradient(63deg, #777777, #222222);
    background: linear-gradient(63deg, #777777, #222222);
    color: white;
  }
  
  footer a {
    color: #fefefe;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #1b9bff;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #aaa;
  }
  
  .footer-wrapper {
    padding-top: 2em;
    color: white;
  }
  

  
  /*SOCIAL ICONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */

  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }

  .social-network a.icoYoutube:hover {
      background-color: #FF0000;
  }

  .social-network a.icoTwitter:hover {
      background-color: #00aced;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i,
  .social-network a.icoYoutube:hover i,
  .social-network a.icoTwitter:hover i{
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #353535;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
    color: #fff;
  }
  
  .social-circle i {
    color: #353535;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  /* backgounf of icons when displayed */
  .social-network a {
    background-color: #f9f9f9;
}
  
/* PRODUCT */

.product {
	display: flex;
  padding: 40px 25px 40px 0px;
}

.product img{
  max-width: 100%;
  margin: auto;
  border: 2px solid #aaa;
  border-radius: 50px;
}

.product-info{
  margin: auto 0;
  padding-right: 5%;
  padding-bottom: 55px;
  background-color: #efefef;
}

.product-info h1 {
	font-size: 34px;
	font-weight: normal;
	margin: 0;
  padding: 20px 0 10px 0;
  color: #1b9bff;
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-info .price {
	display: block;
	font-size: 22px;
}

.product-info form {
	display: flex;
	flex-flow: column;
  margin: 40px 0;
}

.product-info form input, 
.card-btn form input{
  max-width: 250px;
  width: 100%;
}

.product-info form input[type="number"], 
.card-btn form input[type="number"],
.cart form input[type="number"] {
  width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #aaa;
	color: #555555;
  border-radius: 5px;
  -moz-appearance: textfield;
}

.product-info form input[type="submit"], 
.card-btn form input[type="submit"] {
	background-color: #1b9bff;;
	border: 0;
	color: #FFFFFF;
	width: 100%;
	padding: 12px 0;  
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
  cursor: pointer;

}
.product-info form input[type="submit"]:hover, 
.card-btn form input[type="submit"]:hover {
	background-color: #1a5f94;;
}



/* PRODUCTS */

.product-item {
    background-color: #fff;
    border: 1px solid black;
}

.product-name{
    font-size: 16px;
    /*padding-top: 15px;*/
    font-weight: bold;
    color: #1b9bff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.product-name:hover{
  color: #1a5f94;
}

.price{
  font-weight: bold;
  font-size: 18px;
  color: #3f3f3f;

}

  /* image size and aspect ratio*/
.img-thumbnail{
  max-height: 100%;
  height: auto;
  width: auto;
}

/*=========CONTENT===========*/
.row{
  margin: 20px auto;
}


/* CARD */
.card{
  max-height: 450px;
}

.card-body{
  height: 200px;

}

.card-body ul{
  list-style: none;
  padding: 0;
}
/*
.card-body span {
  position: relative;
  display: block;
}*/

.card-btn{
  margin: 20px auto;
}


/* SLIDEUP ON HOVER ON PRODUCT IMG */	


.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;

  height: 100%;
  width: auto;
  margin-top: 5%;
  padding-bottom: 10px;

  border-bottom: 1px dashed #aaa;
}

.hvrbox img {
  max-width: 100%;
  margin: auto;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
  height: 100%;
}

.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 17px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.hvrbox .hvrbox-layer_slideup {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hvrbox:hover .price{
  color: #fff;
  -moz-transition: color 0.8s ease 0s;
  -webkit-transition: color 0.8s ease 0s;
  -ms-transition: color 0.8s ease 0s;
  transition: color 0.8s ease 0s;
}


/* FORMS */
.content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #aaa;
    background: white;
    border-radius: 10px;
  }
  .input_item {
    margin: 10px 0px 10px 0px;
  }
  .input_item label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input_item input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #aaa;
  }
  .sub-btn {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #009900;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  .sub-btn:hover{
    background: #1b9bff;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #990000; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #009900; 
    background: #dff0d8; 
    border: 1px solid #009900;
    margin-bottom: 20px;
  }  

  /*NAVIGATION BUTTONS */

.nav-btn{
 /* border: 2px solid black;
  background-color: #c7c7c7;*/
  width: 40px;
  height: 40px;
  margin: auto;
}

.nav-btn a{
  margin: auto;
  color: #1b9bff;
}

.nav-btn a:hover{
  margin: auto;
  color: #0f77c7;
}

.btn-container{
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
}

/*=== CART ===*/
.cart h1{
  font-size: 28px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
  display: block;
}

.cart table{
  width: 100%;
}

.cart form thead{
  font-size: 24px;
}

.cart table thead td {
	padding: 30px 0;
	border-bottom: 1px solid #009900;
}

.cart table thead td:last-child{
  text-align: right;
}

.cart table tbody td {
	padding: 15px 0;
  border-bottom: 1px solid #009900;
}

.cart table tbody td:last-child {
  text-align: right;
}

.cart table a{
  font-weight: 20px;
  font-weight: 550;
  text-decoration: none;
}

.cart table .img a img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.cart table tbody td .remove {
  font-size: 14px;
  padding: 3px;
  color: #990000;
  font-weight: 600;
}

.cart table tbody td .remove:hover {
  font-size: 16px;
  color: #bc0101;
  text-decoration: underline;
}

.cart .quanity {
text-align: right;

}

.cart table input[type="number"] {
  width: 50px;
  color: #333;
  border-radius: 10px;
  text-align: right;
}


.cart .subtotal {
  text-align: right;
  padding: 20px 0;
}

.cart .subtotal .text {
  font-size: 18px;
  padding-right: 10px;
}

.cart .subtotal .price{
  font-size: 22px;
}

.cart .buttons {
  text-align: right;
  font-size: 20px;
  padding: 5px;
  font-weight: 800;
  height: 60px;
}

.cart .buttons input[type="submit"] {
  background-color: #1b9bff;;
	border: 0;
  color: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 12px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
  cursor: pointer;
  height: 55px;
}

.cart .buttons input[type="submit"]:hover {
  background-color: #009900;
  /*border: 3px solid #aaa;
  border-radius: 5px;*/
}

.cart .cart-empty {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}